.theme-input {
    input {
        width: 100%;
        font-size: 18px;
        border-radius: 24px;
        padding: 10px 32px 9px;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
}
